<IfModule mod_headers.c>
  # Cache estático por 30 dias para imagens e fontes
  <FilesMatch "\.(jpg|jpeg|png|gif|webp|svg|ico|woff|woff2|ttf|otf)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>

  # Compressão de arquivos para imagens e fontes
  <FilesMatch "\.(jpg|jpeg|png|gif|webp|svg|ico|woff|woff2|ttf|otf)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>