@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.hover\:pause:hover {
  animation-play-state: paused !important;
}

@layer utilities {
  @font-face {
    font-family: 'Adam';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Adam-Bold.ttf') format('truetype');
  }

  .user-select-none {
    -webkit-user-select: none;
    user-select: none
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-normal font-title
  }
  p {
    @apply py-4 font-montserrat
  }
  strong {
    @apply text-primary font-semibold
  }
  * {
    @apply box-border
  }

  html {
    @apply scroll-smooth
  }

  body {
    @apply m-0 p-0 w-screen min-h-dvh bg-white text-text overflow-y-auto overflow-x-hidden font-lato flex flex-col
  }

  a {
    @apply font-normal hover:font-extrabold hover:scale-105
  }
}

@layer components {
  .as-button {
    @apply border-primary border-2 px-8 py-4 text-lg text-primary bg-white hover:bg-primary hover:text-white text-center
  }
}